@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
    url('../fonts/RobotoRegular.woff2') format('woff2'),
    url('../fonts/RobotoRegular.woff') format('woff');
  font-display: swipe;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Medium'),
    url('../fonts/RobotoMedium.woff2') format('woff2'),
    url('../fonts/RobotoMedium.woff') format('woff');
  font-display: swipe;
  font-weight: 500;
  font-style: normal;
}