:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white: #F0F2F3;
  --color-purple: #7453E8;
  --color-grey-1: #F0F2F3;
  --color-grey-2: #F0F2F365;
  --color-grey-3: #F0F2F365;
  --color-green-1: #03BB16;
  --gap: 24px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

address {
  font-style: normal;
}

body {
  min-width: 360px;
  font-family: 'Roboto', sans-serif;
}

.btn-reset {
  background-color: transparent;
  border: none;
}

.btn {
  padding: 6px 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  border-radius: 100px;
  border: 2px solid var(--color-purple);
  cursor: pointer;
}

.flex {
  display: flex;
}

.offset {
  padding: 87px 0 63px;
}

.container {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url('../img/bg-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__container {
  position: relative;
}

.header__btn {
  position: absolute;
  top: 24px;
  right: 0;
  color: var(--color-purple);
  background-color: var(--color-white);
}

.header__wrapper {
  padding: 64px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__logo {
  min-width: 80px;
  margin-bottom: 12px;
}

.header__location-content {
  margin-bottom: 25px;
}

.header__location {
  margin-right: 9px;
}

.header__address {
  color: var(--color-white);
}

.products {
  position: relative;
  background-color: var(--color-black);
}

.products__droptown {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 360px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--color-black);
  box-shadow: 0px 6px 16px rgba(181, 181, 181, 0.1);
}

.dropdown__head {
  justify-content: space-between;
  margin-bottom: 16px;
}

.dropdown__content-link {
  align-items: center;
  margin-right: 46px;
}

.dropdown__icon-inst {
  margin-right: 6px;
}

.dropdown__link {
  color: var(--color-grey-1);
  font-size: 14px;
  line-height: 20px;
}

.dropdown__content-time {
  align-items: center;
}

.dropdown__current-time {
  color: var(--color-white);
}

.dropdown__time-icon {
  margin-right: 6px;
}

.dropdown__status--open {
  color: var(--color-green-1);
}

.dropdown__list {
  justify-content: space-between;
  align-items: center;
}

.dropdown__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-white);
}

.dropdown-btn {
  color: var(--color-purple);
}

.prodects__text-container {
  max-width: 330px;
  margin-bottom: 16px;
}

.products__table {
  margin-bottom: 32px;
}

.products__title {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--color-grey-1);
}

.products__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-grey-1);
}

.products__list {
  align-items: center;
  flex-wrap: wrap;
}

.products__item-table {
  width: calc((100% - (var(--gap) * 2)) / 3);
  background-color: var(--color-grey-2);
  border-radius: 16px;
}

.products__item-table:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.products__another {
  margin-bottom: 43px;
}

.products__item {
  margin-bottom: var(--gap);
  width: calc((100% - (var(--gap) * 2)) / 3);
  background-color: var(--color-grey-2);
  border-radius: 16px;
}

.products__item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.card {
  padding: 8px 8px 8px 12px;
}

.card__content {
  margin-right: 20px;
}

.card__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-grey-1);
}

.card__description {
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey-3);
}

.card__img {
  margin-left: auto;
  object-fit: contain;
}

.card__sum {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-grey-1);
}

.products__butn-wrapper {
  align-items: center;
  justify-content: center;
}

.products__order {
  padding: 10px 133px;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-grey-1);
  background-color: var(--color-purple);
}